<app-nav></app-nav>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary" id="backBtn" (click)="backToHome()">Back</a>
            </div>
            <div class="col-sm-9">
                <h1 id="heading">All Students</h1>
            </div>
                        
        </div>
        <hr>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6" *ngFor="let stu of students">
			<mat-card (click)="studentDetails(stu.id)">
				<h1>{{stu.name}}</h1>
				<h4>{{stu.standard}}</h4>
			</mat-card>
		</div>
	</div>
</div>
