<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-light bg-light navbar-right">

            </nav>            
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
                <div class="form-group">
                    <label for="name">Student Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="stu_name" autocomplete="off">
                    <span class="text-danger" *ngIf="studentForm.get('stu_name').hasError('required') && studentForm.get('stu_name').dirty">This field is required</span>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" name="age" formControlName="stu_age">
                    <span class="text-danger" *ngIf="studentForm.get('stu_age').hasError('required') && studentForm.get('stu_age').dirty">This field is required</span>
                </div>
                <div class="form-group">
                    <label for="std">Standard</label>
                    <select id="std" class="form-control" name="std" formControlName="stu_std">
                        <option *ngFor = "let standard of standards" 
                        value="{{standard}}">{{standard}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="grade">Grade</label>
                    <select id="grade" class="form-control" name="grade" formControlName="stu_grade">
                        <option *ngFor = "let grade of grades" 
                        value="{{grade}}">{{grade}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" class="form-control" id="mobile" formControlName="stu_mobile">
                    <span class="text-danger" *ngIf="studentForm.get('stu_mobile').hasError('required') && studentForm.get('stu_mobile').dirty">This field is required</span>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>&nbsp;
            </form>
            <hr>
            <button class="btn btn-primary" (click)="showStudents()">View Students</button>
        </div>
    </div>
</div>