<app-nav></app-nav>
<div *ngIf="student">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary" (click)="backToStudents()">Back</a>
                <header>
                    <h1 class="text-center">Student Details</h1>
                </header>
            </div>          
        </div>
        <hr>
    </div>
</div>

<div *ngIf="student">
    <form [formGroup]="studentForm" (ngSubmit)="updateStudent()">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Student ID</th>
                    <td>{{student.id}}</td>
                </tr>
                <tr>
                    <th>Student Name</th>
                    <td *ngIf="!isUpdate" >{{student.name}}</td>
                    <td *ngIf="isUpdate">
                        <mat-form-field appearance="outline">
                            <mat-label>Student Name</mat-label>
                            <input matInput formControlName="stu_name" type="text" placeholder="Student Name" autocomplete="off" />
                            <mat-error>
                                You must enter the student name
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td *ngIf="!isUpdate">{{student.age}}</td>
                    <td *ngIf="isUpdate">
                        <mat-form-field appearance="outline">
                            <mat-label>Student Age</mat-label>
                            <input matInput formControlName="stu_age" type="number"  min="1" max="20" placeholder="Student Age" autocomplete="off" />
                            <mat-error>
                                You must enter the student age between 1 and 20
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Standard</th>
                    <td *ngIf="!isUpdate">{{student.standard}}</td>
                    <td *ngIf="isUpdate">
                        <mat-form-field appearance="outline">
                            <mat-label>Standard</mat-label>
                            <mat-select formControlName="stu_std">
                                <mat-option *ngFor="let standard of standards" value="{{standard}}">{{standard}}</mat-option>
                            </mat-select>
                            <mat-error>
                                You must select the standard
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td *ngIf="!isUpdate">{{student.grade}}</td>
                    <td *ngIf="isUpdate">
                        <mat-form-field appearance="outline">
                            <mat-label>Grade</mat-label>
                            <mat-select formControlName="stu_grade">
                                <mat-option *ngFor="let grade of grades" value="{{grade}}">{{grade}}</mat-option>
                            </mat-select>
                            <mat-error>
                                You must select the grade
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td *ngIf="!isUpdate">{{student.mobile}}</td>
                    <td *ngIf="isUpdate">
                        <mat-form-field appearance="outline">
                            <mat-label>Student Mobile</mat-label>
                            <input matInput formControlName="stu_mobile" type="number" placeholder="Student Mobile" autocomplete="off" />
                            <mat-error>
                                Please check the mobile number
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="formFooter text-center">
            <button mat-raised-button color="primary" (click)="switch()" *ngIf="!isUpdate">
                Edit
            </button>&nbsp;
            <button mat-raised-button color="primary" type="submit" *ngIf="isUpdate">
                Update
            </button>&nbsp;
            <button mat-raised-button color="warn" (click)="switch()" *ngIf="isUpdate">
                Cancel
            </button>&nbsp;
            <button mat-raised-button color="warn" (click)="deleteStudent(student.id)" *ngIf="!isUpdate">
                Delete
            </button>
        </div>
    </form>
</div>